.App {
  display: grid;
  grid-template-columns: 95vw 5vw;
  grid-template-rows: 100vh;
  overflow: hidden;
  background-color: #252525;
}

.toolbar {
  display: flex;
}

.playground {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
}

.canvas-pg {
  position: absolute;
  width: 100%;
}

.toolbar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.toolbar__items {
  margin-top: 35px;
}

.toolbar__items div {
  width: 45px;
  height: 45px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar__items div svg {
  color: white;
  height: 22px;
  width: 22px;
  transform: rotatey(180deg);
}
